{% extends 'base.html.twig' %}

{% block body %}
<div class="container body-content" >
    <h1>Cart</h1>

    <table border="solid-black">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Products</th>
                <td>{% if cart.products %}
                        {% for product in cart.products %}
                            <div>
                                <p><a href="{{ path('product_show', {'id': product.getId()}) }}">
                                        {{ product.getName() }}</a>
                                {{ product.getPrice }}$
                                <a href="{{ path('cart_remove', {'id': product.getId()}) }}" class="btn-sm btn-danger">Remove product</a>
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ cart.total }}$</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('cart_verify', { 'id': cart.id }) }}" class="btn btn-success">Verify</a>
            <a href="{{ path('cart_index') }}" class="btn btn-primary">My Carts List</a>
</div>
{% endblock %}
