{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cart</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Products</th>
                <td>{% if cart.products %}
                        {% for product in cart.products %}
                            <div>
                                <p>{{ product.getName() }}
                                {{ product.getPrice }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ cart.total }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ cart.delivery.phone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ cart.delivery.address }}</td>
            </tr>
            <tr>
                <th>Payment</th>
                <td>{{ cart.delivery.payment }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carts_list') }}">Back to the carts list</a>
        </li>
    </ul>
{% endblock %}
