{% extends 'base.html.twig' %}

{% block body %}
<div class="container body-content" >
    <a href="{{ path('admin_product_new') }}" class="btn btn-success">Create a new product</a>

    <h1>Products list</h1>

    <table border="solid-black">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}$</td>
                <td>
                            <a href="{{ path('admin_product_show', { 'id': product.id }) }}" class="btn-sm btn-primary">show</a>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}" class="btn-sm btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
