{% extends 'base.html.twig' %}

{% block body %}
<div class="container body-content" >
    <h1>User</h1>

    <table border="solid-black">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ user.fullName }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('users_list') }}" class="btn btn-primary">Back to the users list</a>
            <a href="{{ path('user_make_admin', { 'id': user.id }) }}" class="btn btn-warning">Make Admin</a>
</div>
{% endblock %}
