{% extends 'base.html.twig' %}

{% block body %}
<div class="container body-content" >
    <h1>User</h1>

    <table border="solid-black">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ user.fullName }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit', { 'id': user.id }) }}" c>Edit</a>

</div>
{% endblock %}
